# sbt
/target
/project/target
/project/project/target
/*/target
/*/project/*

# eclipse
/.project
/.classpath
/.cache
/.settings

# idea
/.idea
/.idea_modules
*.iml

# log files created when jvm crashes
hs_err_pid*.log
